---
import Chat from '@components/Chat.jsx';
import Form from '@components/Form.jsx';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Twitch Toxic Tracker">
	<main>
		<div class="grid grid-cols-12">
			<div class="col-span-12 md:col-span-6 lg:col-start-3 lg:col-end-6">
				<Form client:only="react" />
			</div>
			<div
				class="min-h-screen pl-5 pr-5 pt-20 pb-20 col-span-12 sm:col-span-12 md:col-span-6 lg:col-start-6 lg:col-end-10">
				<Chat userName="auronplay" client:only="react" />
			</div>
		</div>
	</main>
</Layout>
