<div class="w-full flex justify-end" >
	<div class="bg-gray-100 rounded px-5 py-2 my-2 text-gray-700 relative" style="max-width: 300px;">
		<span class="block">Hello</span>
		<span class="block text-xs text-left">10:32pm</span>
	</div>
</div>
