<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Twitch Chat Toxicity</title>
		<script>(window as any).global = window;</script>
	</head>
	<body class="bg-[#2c3e50] text-[#2c3e50] font-twitch">
		<slot />
	</body>
</html>
